@using MyBlog.Application.Models
@model UserDetails
@{
    <div><h1>Информация о пользователе</h1></div>
    @if (Model != null)
    {
        <table>
            <tr>
                <td>ID: </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Логин: </td>
                <td>@Model.Login</td>
            </tr>
            <tr>
                <td>Имя: </td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Фамилия: </td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Роли: </td>
                <td>
                    @foreach (var role in Model.Roles)
                    {
                        <span>@role </span>
                    }
                </td>
            </tr>
        </table>
    }
    else
    {
        <div>Пользователь не найден.</div>
    }
}
